<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogFile="nlog.log" internalLogLevel="error">
  <targets>
    <target xsi:type="Console" name="Console">
      <layout xsi:type="JsonLayout" includeAllProperties="false">
        <attribute name="level" layout="${level:lowercase=true}" encode="true" />
        <attribute name="logger" layout="${logger}" encode="true" />
        <attribute name="message" layout="${replace:inner=${message}:searchFor=\\r\\n|\\s:replaceWith= :regex=true}" encode="true" />
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Warn" writeTo="Console" />
  </rules>
</nlog>