<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="Google.Cloud.Logging.NLog" />
  </extensions>

  <targets async="true">
    <target name="stackdriver" xsi:type="GoogleStackdriver" logId="netcore-counter" />
    <target name="console" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="stackdriver" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>

</nlog>